<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>HB 4</title>
  </head>
  <body>
    <h1>
      Tecnologias baseadas no NodeJs:
    </h1>
    {{{listTechnologies techs}}}
  </body>
</html>