<html lang='pt-br'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Main Layout</title>
  </head>
  <body>
    <header>
      Main Header
    </header>
    <aside id='aside-left'>
      <span>
        Aside esquerdo
      </span>
    </aside>
    {{body}}
    <aside id='aside-right'>
      <span>
        Aside Direito
      </span>
    </aside>
    <footer>
      Main Footer
    </footer>
  </body>
</html>